p.para1
{
    color: hsla(112,151,45,0.1);
}

p.large
{
    text-align: center;
}

h1
{
 text-align: center;
 color: red;/* text color*/
 background-color: dodgerblue; /* background color*/
 border: 2px solid tomato;/* border color */
}
/*
color
{
    color: red; text color
    background-color: dodgerblue; background color
    border: 2px solid tomato; border color 
    color: rgb(45, 45, 154);
    color: rgba(45, 45, 154);
    color: hsl(112,451,45);
    color: hsla(112,451,45);
}*/
body
{
    background-image: url('./pictogram-download-orange.svg');
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
}